<template>
  <transition name="slide-fade">
    <div v-if="showAlert">
      <div class="alert"
          :class="classObject">
        <span class="closebtn"
              @click="toggleAlert">&times;
        </span>
        <strong>{{ alertMessage.type | uppercase }}!</strong> {{ alertMessage.message }}
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'AppMessages',
  props: {
    flashMessage: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      visibleAlert: false,
      alertMessage: this.$store.state.flashMessage
    }
  },
  methods: {
    toggleAlert () {
      this.visibleAlert = !this.visibleAlert
      this.$store.dispatch('clearMessage')
    }
  },
  computed: {
    showAlert () {
      let messages = this.alertMessage
      if (messages.type !== '') {
        return true
      } else {
        return false
      }
    },
    classObject () {
      return {
        success: this.alertMessage.type === 'success',
        error: this.alertMessage.type === 'error'
      }
    }
  },
  filters: {
    uppercase (item) {
      return item.toUpperCase()
    }
  }
}
</script>

<style>
  .alert {
      padding: 20px;
      color: white;
      margin-bottom: 10px;
  }

  .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 15px;
      cursor: pointer;
      transition: 0.3s;
  }

  .closebtn:hover {
      color: black;
  }
  .error {
    background-color: red
  }
  .success {
    background-color: green
  }

</style>
