<template>
  <div class="card">
    <div class="card-item">
      <img src="/static/img_avatar.png" alt="Avatar">
      <span class="salepill" v-if="item.sale">Sale</span>
    </div>
    <div class="card-body">
      <h4><b>{{ item.name }}</b></h4>
      <p>{{ item.price | usdollar }}</p>
      <router-link :to="{ name: 'AppItem', params: { id: item['.key'] } }">
        <button type="button" class="btn btn-primary small">
          View
        </button>
      </router-link>
      <button type="button"
              class="btn btn-primary small"
              @click="removeItem(item)">Remove</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    }
  },

  methods: {
    removeItem (item) {
      this.$store.dispatch('removeItem', item)
    }
  },

  filters: {
    usdollar: function (value) {
      return `$${value}`
    }
  }
}
</script>

<style lang="scss" scoped>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    img {
      border-radius: 5px 5px 0 0;
      width:100%;
      height: auto;
    }
  }

  .card-item {
    position: relative;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card-body {
    padding: 0 16px 5px;
  }

  .salepill {
    background: rgb(232, 35, 25);
    color: white;
    font-family: 'Barlow', sans-serif;
    padding: 2px 10px 4px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    border-radius: 1000px;
    position: absolute;
    z-index: 5;
    bottom: 15px;
    left: 15px;
  }

</style>
