<template>
  <div>
    <h1>Add New</h1>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <label for="name">Name</label>
        <input name="name" type="text" v-model="product.name">
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <label for="price">Price</label>
        <input type="number" name="price" min="0" v-model="product.price">
      </div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        Category
        <v-select v-model="product.category"
                  :options="categories">
        </v-select>
      </div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <label for="description">Description</label>
        <textarea name="description" v-model="product.description"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="checkbox-switch">
          <input type="checkbox"
                id="checkbox"
                v-model="product.sale">
          <label for="checkbox" class="switch"></label>
          <label for="checkbox">Sale Item</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8"></div>
      <div class="col-3">
        <button class="btn btn-primary large" @click="addItem">Submit</button>
      </div>
    </div>
    {{ this.$store.state.products }}
  </div>
</template>

<script>
export default {
  name: 'AppAddNew',
  data () {
    return {
      selected: '',
      product: {
        category: '',
        description: '',
        img: '',
        name: '',
        price: '',
        sale: false
      },
      categories: [
        { value: '', label: 'Select An Option' },
        { value: 'men', label: 'Men' },
        { value: 'women', label: 'Women' },
        { value: 'kids', label: 'Kids' },
        { value: 'other', label: 'Other' }
      ],
      itemCategory: ''
    }
  },
  methods: {
    addItem () {
      this.$store.dispatch('addNewItem', this.product)
    }
  }
}
</script>

<style lang="scss">
  input[type=text], input[type=number], textarea, select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      font-size: 18px;
  }
  .checkbox-switch {
    display: flex;
    align-items: center;

    .switch {
      position: relative;
      margin-right: 10px;
      width: 50px;
      height: 30px;
      background: #ddd;
      transition: .4s;
      border-radius: 15px;
      cursor: pointer;
    }

    .switch::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 5px;
      top: 5px;
      background: #fff;
      transition: .4s;
      border-radius: 50px;
      box-shadow: 0 0 1px rbga(0,0,0,0.15);
    }

    input {
      display: none;
    }

    input:checked + .switch {
      background: #0096df;
    }

    input:checked + .switch:before {
      transform: translateX(20px);
    }

  }
</style>
