<template>
<div>
  <div v-if="loading">Loading....</div>
  <div v-else>
    {{ thisItem }}
  </div>
</div>
</template>

<script>
import ItemCard from './cards/ItemCard.vue'
export default {
  name: 'AppItem',
  data () {
    return {
      loading: false
    }
  },
  computed: {
    thisItem () {
      return this.$store.state.viewingItem
    }
  },
  methods: {
    fetchItem () {
      let viewingItem = this.$route.params.id
      this.$store.dispatch('getViewingItem', viewingItem).then(() => {
        this.loading = false
      })
    }
  },
  components: {
    ItemCard
  },
  mounted () {
    this.loading = true
    this.fetchItem()
  },
  destroyed () {
    this.$store.commit('clearViewingItem')
  }
}
</script>

<style>

</style>
