<template>
  <div>
    <app-messages :flashMessage="flashMessage"></app-messages>
    <div class="main-wrapper box">
      <app-sidebar />
      <div class="card-wrapper">
        <p v-if="products.length === 0">No Products Available</p>
        <item-card
          v-for="(item, index) in products"
          :key="index"
          :item="item"
          :index="index"
        />
      </div>
    </div>
  </div>
</template>

<script>
import AppSidebar from './AppSidebar.vue'
import ItemCard from './cards/ItemCard.vue'
import AppMessages from './flash/AppMessages.vue'
import productsRef from '../config.js'

export default {
  name: 'AppMain',
  firebase: {
    storeProducts: productsRef
  },
  props: {
    flashMessage: {
      type: Object,
      required: false
    }
  },
  data () {
    return {
      value: 0
    }
  },
  computed: {
    products () {
      let productItems = this.storeProducts
      return productItems.filter(item =>
        this.$store.state.sale
          ? item.price <= this.slideVal && item.sale
          : item.price <= this.slideVal
      )
    },
    slideVal () {
      return this.$store.getters.sliderValue
    }
  },

  components: {
    AppSidebar,
    ItemCard,
    AppMessages
  }
}
</script>

<style>
  .main-wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
  }

  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em
  }

  .title-tag {
    margin-bottom: 40px;
  }
</style>
