<template>
  <div class="box header">
    <nav>
      <ul>
        <router-link tag="li" to="/">
          <a>Home</a>
        </router-link>
        <router-link tag="li" to="/foo">
          <a>Foo</a>
        </router-link>
        <router-link tag="li" :to="{ name: 'AppAddNew'}">
          <a>Add New</a>
        </router-link>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'AppHeader',
  data () {
    return {
      hello: 'Header'
    }
  }
}
</script>

<style scoped>
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: gray;
  }

</style>
