<template>
  <div class="box sidebar">
    <h3 class="text-center">{{ title }}</h3>
    <hr class="title-tag">
    <Slider :value="sliderValue" />
    <sale-switch>Sale</sale-switch>
  </div>
</template>

<script>
import Slider from './form-helpers/Slider.vue'
import SaleSwitch from './form-helpers/SaleSwitch.vue'

export default {
  name: 'AppSidebar',
  data () {
    return {
      title: 'Filters'
    }
  },
  computed: {
    sliderValue () {
      return this.$store.state.slideValue
    }
  },
  components: {
    Slider,
    SaleSwitch
  }
}
</script>

<style>

</style>
