<template>
  <div id="app">
    <div class="wrapper">
      <app-navigation/>
    </div>
    <router-view/>

  </div>
</template>

<script>
import AppNavigation from './components/AppNavigation.vue'
import AppMain from './components/AppMain.vue'
import AppAddNew from './components/AppAddNew.vue'
import './assets/stylesheets/styles.scss'

export default {
  name: 'App',
  components: {
    AppNavigation,
    AppMain,
    AppAddNew
  }
}
</script>

<style>
  body {
    margin: 40px;
  }

  .header {
    grid-area: header;
    grid-template-columns: repeat(3, 1fr);
    font-size: 125%
  }

  .footer {
    grid-area: footer;
  }

  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header  header  header  header";
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: rgb(92, 91, 91);
    color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin: 0 0 10px 0;
  }

  .header,
  .footer {
    background-color: #999;
  }
  .text-center {
    text-align: center;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>
