<template>
  <div class="checkbox-switch">
    <input type="checkbox"
           id="checkbox"
           v-model="trigger"
           @change="updateSale">
    <label for="checkbox" class="switch"></label>
    <label for="checkbox"><slot></slot></label>
  </div>
</template>

<script>
export default {
  props: {
    default: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      trigger: this.default || this.checked
    }
  },
  computed: {
    checked () {
      return this.$store.state.sale
    }
  },
  methods: {
    updateSale () {
      this.$store.dispatch('switchSale')
    }
  }
}
</script>

<style lang="scss">
  .checkbox-switch {
    display: flex;
    align-items: center;
    margin: 20px 0;

    .switch {
      position: relative;
      margin-right: 10px;
      width: 50px;
      height: 30px;
      background: #ddd;
      transition: .4s;
      border-radius: 15px;
      cursor: pointer;
    }

    .switch::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 5px;
      top: 5px;
      background: #fff;
      transition: .4s;
      border-radius: 50px;
      box-shadow: 0 0 1px rbga(0,0,0,0.15);
    }

    input {
      display: none;
    }

    input:checked + .switch {
      background: #0096df;
    }

    input:checked + .switch:before {
      transform: translateX(20px);
    }

  }
</style>
