<template>
  <div class="box1">
    <div class="title-tag">{{ label }}: {{ slideValue }}</div>
      <vue-slider v-model="slideValue"
                  :max="max"
                  @input="emitValue(slideValue)">
      </vue-slider>
  </div>
</template>

<script>
import vueSlider from 'vue-slider-component'

export default {
  props: {
    value: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      label: 'Highest Price',
      slideValue: this.value,
      max: 300
    }
  },
  computed: {
    thisVal () {
      return this.$store.getters.slideValue
    }
  },
  methods: {
    emitValue (value) {
      this.$store.dispatch('setSliderValue', value)
    }
  },
  components: {
    vueSlider
  }
}
</script>

<style>

</style>
